<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <h2>This is HBS about page</h2>
    <img width="300" height="300" src="/images/30704361_2057742987834232_6081484545071251456_o.jpg" alt="Profile Image">
    {{>footer}}
</body>
</html>