<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>s
</head>
<body>
    {{>header}}
    <h2>{{title}}</h2>
    <form class="form">
        <label for="query">Find out the weather</label>
        <input class="form__input" type="text" name="query" id="query">
        <button class="form__button">Show</button>
    </form>
    <p class='temperature'></p>
    {{>footer}}
    <script src="/js/client.js"></script>
</body>
</html>